.linearProgressContainer {
  display: flex;
  width: 100%;
  flex: 1;
  align-items: center;

  .valueLabel {
    margin-left: 10px;
  }
}

.countContainer {
  padding: 10px 16px;
  margin: 20px 0;

  .label {
    font-size: 12px;
    font-weight: 600;
    color: rgba(0, 0, 0, 0.5);
  }

  .count {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
}
